html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f7a36c, rgb(230, 230, 230));
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    word-spacing: 0.5em;
}

h1 {
    text-align: center;
    padding-top: 1em;
}

p {
    text-align: center;
}

#result {
    font-size: 2em;
    font-weight: bold;
}

#checkarea {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
}

#check {
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    height: 23px;
    margin: 5px;
    cursor: pointer;
}

#refresh {
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    height: 23px;
    margin: 5px;
    cursor: pointer;
    visibility: hidden;
}

#num {
    border: none;
    border-radius: 6px;
    height: 23px;
}

img {
   display: block;
   margin: auto;
    width: 15%;
    height: 10%;
    padding-top: 20px;
}

h2 {
    text-align: center;
}
